html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

form {
    border: 5px solid #f1f1f1;
}

input[type=text] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}
